/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.hero-detail-section button {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background-color: #3f525c;
  padding: 5px;
  width: 100px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 10px;
}

.hero-detail-section button:hover {
  cursor: pointer;
  color: #3f525c;
  background-color: #FFF;
}